.app-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
}


.app-sidebar {
  padding: 16px;
  border-right: 1px solid #ddd;
}


.app-main {
  /* padding: 24px 0; */
  display: flex;
  justify-content: center;
}

.main-content {
  /* max-width: 630px;
  margin: 0 auto;    */
  width: 100%;
}
